<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Profile.Application</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ol class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Signup">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Home">Login</a>
          </li>
        </ol>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>
