<div class= form>
    <div class="project-name">
      <label for="project-name-input" class="form-label">Project Name</label>
      <input type="text" class="form-control" id="project-name-input" placeholder="Project Name" name="Project Name">
    </div>
    <div class="project-description">
      <label for="project-description-input" class="form-label">Project Description</label>
      <input type="text" class="form-control" id="project-description-input" placeholder="Project Description" name="Project Description">
    </div>
    <div class="button">
      <button type="button" class="button" (click)=next()>Next</button>
    </div>
  </div>