<div class="row">
  <div class="column-left">
    <div class="app-logo">
      <img class="logo" src="../../../../assets/images/profile-logo.png" alt="profile logo">
      <p>PROFILE.APP</p>
    </div>
  </div>
  <div class="column-right">
    <div class="username-form">
      <label for="usernameInput" class="form-label">Username</label>
      <input type="text" class="form-control" id="usernameInput" placeholder="Username" name="username" [(ngModel)]="user.username" [(ngModel)]="user.projectId">
    </div>
    <div class="about-form">
      <label for="aboutInput" class="form-label">About</label>
      <input type="text" class="form-control" id="aboutInput" placeholder="Tell us about yourself" name="about" [(ngModel)]="user.about">
    </div>
    <div class="button">
      <button type="button" class="button" (click)=next()>Next</button>
    </div>
  </div>
</div>
